.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);}
.m3{transform:matrix(0.257500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.257500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.257500,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.260000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.260000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.260000,0.000000,0.000000,0.250000,0,0);}
.m4{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1.188000px;}
._5{width:2.196000px;}
._2{width:3.204000px;}
._1{width:4.248000px;}
._3{width:5.400000px;}
._7{width:6.444000px;}
._6{width:7.668000px;}
._4{width:55.440000px;}
._8{width:1805.112000px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:36.000000px;}
.y48{bottom:22.940998px;}
.y47{bottom:33.935993px;}
.y0{bottom:43.000000px;}
.y46{bottom:44.930992px;}
.y45{bottom:55.280018px;}
.y44{bottom:65.629017px;}
.y43{bottom:76.624016px;}
.y42{bottom:86.973009px;}
.y41{bottom:97.322010px;}
.y40{bottom:107.671009px;}
.y3f{bottom:118.666008px;}
.y3e{bottom:129.015003px;}
.y3d{bottom:140.009998px;}
.y3c{bottom:151.004997px;}
.y3b{bottom:161.353996px;}
.y3a{bottom:171.702991px;}
.y39{bottom:182.698017px;}
.y38{bottom:193.693007px;}
.y37{bottom:204.837999px;}
.y36{bottom:215.336992px;}
.y35{bottom:225.836018px;}
.y34{bottom:236.831013px;}
.y33{bottom:247.826008px;}
.y32{bottom:258.821003px;}
.y31{bottom:269.816005px;}
.y30{bottom:281.411010px;}
.y2f{bottom:292.360008px;}
.y2e{bottom:302.709003px;}
.y2d{bottom:313.058002px;}
.y2c{bottom:324.052998px;}
.y2b{bottom:335.048008px;}
.y2a{bottom:346.043003px;}
.y29{bottom:357.038005px;}
.y28{bottom:368.633003px;}
.y27{bottom:378.982002px;}
.y26{bottom:389.330997px;}
.y25{bottom:400.326008px;}
.y24{bottom:411.321003px;}
.y23{bottom:422.316006px;}
.y22{bottom:433.311008px;}
.y21{bottom:444.306004px;}
.y20{bottom:455.301003px;}
.y1f{bottom:465.650005px;}
.y1e{bottom:475.999004px;}
.y1d{bottom:486.348003px;}
.y1c{bottom:496.697006px;}
.y1b{bottom:512.146006px;}
.y1a{bottom:522.495006px;}
.y19{bottom:533.444005px;}
.y17{bottom:544.545998px;}
.y16{bottom:554.842999px;}
.y18{bottom:557.294998px;}
.y15{bottom:567.395002px;}
.y14{bottom:580.202003px;}
.y13{bottom:590.551002px;}
.y12{bottom:601.506004px;}
.y11{bottom:612.460999px;}
.y10{bottom:623.416000px;}
.yf{bottom:634.371002px;}
.ye{bottom:645.326004px;}
.yd{bottom:655.675003px;}
.yc{bottom:666.629997px;}
.yb{bottom:677.584999px;}
.ya{bottom:688.540001px;}
.y9{bottom:699.494999px;}
.y8{bottom:710.449999px;}
.y7{bottom:721.404999px;}
.y6{bottom:737.500000px;}
.y3{bottom:748.952000px;}
.y5{bottom:752.148000px;}
.y2{bottom:758.898999px;}
.y4{bottom:763.000000px;}
.y1{bottom:769.748000px;}
.h2{height:24.398438px;}
.h3{height:25.013672px;}
.h4{height:26.208984px;}
.h1{height:719.000000px;}
.h0{height:792.000000px;}
.w1{width:526.500000px;}
.w0{width:612.000000px;}
.x0{left:40.000000px;}
.x4{left:45.350000px;}
.xc{left:58.000000px;}
.xd{left:62.500000px;}
.x5{left:66.000000px;}
.xe{left:80.500000px;}
.x6{left:84.000000px;}
.x8{left:113.552003px;}
.xb{left:137.682998px;}
.x7{left:158.736005px;}
.x1{left:244.000000px;}
.x2{left:280.506002px;}
.x3{left:469.799988px;}
.x9{left:481.149988px;}
.xf{left:534.471993px;}
.xa{left:546.606990px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:1.584000pt;}
._5{width:2.928000pt;}
._2{width:4.272000pt;}
._1{width:5.664000pt;}
._3{width:7.200000pt;}
._7{width:8.592000pt;}
._6{width:10.224000pt;}
._4{width:73.920000pt;}
._8{width:2406.816000pt;}
.fs0{font-size:48.000000pt;}
.y48{bottom:30.587997pt;}
.y47{bottom:45.247991pt;}
.y0{bottom:57.333333pt;}
.y46{bottom:59.907989pt;}
.y45{bottom:73.706690pt;}
.y44{bottom:87.505356pt;}
.y43{bottom:102.165354pt;}
.y42{bottom:115.964012pt;}
.y41{bottom:129.762680pt;}
.y40{bottom:143.561345pt;}
.y3f{bottom:158.221344pt;}
.y3e{bottom:172.020004pt;}
.y3d{bottom:186.679998pt;}
.y3c{bottom:201.339996pt;}
.y3b{bottom:215.138662pt;}
.y3a{bottom:228.937322pt;}
.y39{bottom:243.597356pt;}
.y38{bottom:258.257342pt;}
.y37{bottom:273.117332pt;}
.y36{bottom:287.115990pt;}
.y35{bottom:301.114690pt;}
.y34{bottom:315.774684pt;}
.y33{bottom:330.434677pt;}
.y32{bottom:345.094671pt;}
.y31{bottom:359.754673pt;}
.y30{bottom:375.214680pt;}
.y2f{bottom:389.813344pt;}
.y2e{bottom:403.612005pt;}
.y2d{bottom:417.410670pt;}
.y2c{bottom:432.070663pt;}
.y2b{bottom:446.730677pt;}
.y2a{bottom:461.390671pt;}
.y29{bottom:476.050673pt;}
.y28{bottom:491.510671pt;}
.y27{bottom:505.309336pt;}
.y26{bottom:519.107997pt;}
.y25{bottom:533.768010pt;}
.y24{bottom:548.428004pt;}
.y23{bottom:563.088008pt;}
.y22{bottom:577.748011pt;}
.y21{bottom:592.408005pt;}
.y20{bottom:607.068003pt;}
.y1f{bottom:620.866674pt;}
.y1e{bottom:634.665339pt;}
.y1d{bottom:648.464005pt;}
.y1c{bottom:662.262675pt;}
.y1b{bottom:682.861341pt;}
.y1a{bottom:696.660007pt;}
.y19{bottom:711.258673pt;}
.y17{bottom:726.061330pt;}
.y16{bottom:739.790665pt;}
.y18{bottom:743.059998pt;}
.y15{bottom:756.526670pt;}
.y14{bottom:773.602671pt;}
.y13{bottom:787.401337pt;}
.y12{bottom:802.008006pt;}
.y11{bottom:816.614665pt;}
.y10{bottom:831.221334pt;}
.yf{bottom:845.828003pt;}
.ye{bottom:860.434672pt;}
.yd{bottom:874.233337pt;}
.yc{bottom:888.839996pt;}
.yb{bottom:903.446665pt;}
.ya{bottom:918.053335pt;}
.y9{bottom:932.659999pt;}
.y8{bottom:947.266665pt;}
.y7{bottom:961.873332pt;}
.y6{bottom:983.333333pt;}
.y3{bottom:998.602666pt;}
.y5{bottom:1002.864000pt;}
.y2{bottom:1011.865332pt;}
.y4{bottom:1017.333333pt;}
.y1{bottom:1026.330667pt;}
.h2{height:32.531250pt;}
.h3{height:33.351562pt;}
.h4{height:34.945312pt;}
.h1{height:958.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:702.000000pt;}
.w0{width:816.000000pt;}
.x0{left:53.333333pt;}
.x4{left:60.466667pt;}
.xc{left:77.333333pt;}
.xd{left:83.333333pt;}
.x5{left:88.000000pt;}
.xe{left:107.333333pt;}
.x6{left:112.000000pt;}
.x8{left:151.402670pt;}
.xb{left:183.577331pt;}
.x7{left:211.648007pt;}
.x1{left:325.333333pt;}
.x2{left:374.008003pt;}
.x3{left:626.399984pt;}
.x9{left:641.533317pt;}
.xf{left:712.629323pt;}
.xa{left:728.809319pt;}
}
